.card img {
  height: 95px;
  width: 150px;
  object-fit: cover;
  padding: 10px;
  margin-left: 15%;
}

.card {
  text-decoration: none;
  height: 250px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.3);
  background-color: #f7f7ff;
}

.cardName {
  color: #070600;
  text-overflow: clip;
  max-width: 230px;
}

.cards {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  text-decoration: none;
  margin-left: 5%;
}
.cardInfo {
  margin: 10px;
  text-decoration: none;
}
.cardInfo span {
  color: black;
  margin: 10px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.link-card {
  text-decoration: none;
}
