img {
  display: inline;
  margin: 0 auto;
  height: 95px;
  width: 150px;
  object-fit: cover;
}

.card {
  display: inline-block;
  border: 2px solid;
  padding: 5px;
}

.cardName {
  width: 150px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  display: inline-block;
}
