.mainLP {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-image: url("https://images.hdqwalls.com/download/hot-air-balloon-photography-c6-2560x1440.jpg");
}
body {
  height: 100vh;
}

.homeButton {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.homeButton {
  font-family: "Rubik", sans-serif;
  width: 400px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #070600;
  background: #f7f7ff;
  border: 2px solid #070600;
  box-shadow: 5px 5px 0 #070600, -5px -5px 0 #070600, -5px 5px 0 #070600,
    5px -5px 0 #070600;
  transition: 500ms ease-in-out;
}

.homeButton:hover {
  box-shadow: 20px 5px 0 #070600, -20px -5px 0 #070600;
}

.homrButton:focus {
  outline: none;
}
.buttonContainer {
  margin: 0;
  position: absolute;
  top: 70%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 36%;
}

.title {
  font-family: "Rubik", sans-serif;
  margin: 0;
  position: absolute;
  top: 14%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 14%;
  font-size: 45px;
  text-align: center;
}
