ul {
  font-family: "Rubik", sans-serif;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}
li {
  margin: 20px;
  text-decoration: none;
}

.homeContainer {
  margin-top: 0;
  height: 200vh;
  background-image: url("../../auxfiles/bgpattern.jpg");
  background-size: 300px;
}
.paginationContainer {
  width: 600px;
}
